p:first-child {
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.3);
}

#segundo {
    background-color: green;
}

#tercero {
    background-color: rgba(0, 0, 255, 0.3);
}

p:last-child {
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.3);
}