li {
    font-weight: bold;
}

.primer {
    font-size: 100%;
}

.segundo {
    font-size: 120%;
}

.tercer {
    font-size: 140%;
}

.cuarto {
    font-size: 160%;
}

.quinto {
    font-size: 180%;
}

.sexto {
    font-size: 200%;
}