.menu{
    border: 1px red solid;
    border-bottom: 1px purple solid;
}

.borde{
    border: 1px black dashed;
    margin: 1%;
    padding: 2%;
    text-align: center;
}

.cabecera{
    border-top: none;
    border-right: 1px purple solid;
    border-bottom: none;
    border-left: 1px purple solid;
    background-color: #D3C1DD;
    padding-bottom: 10%;
}

.columna1{
    background-color:rgb(113, 247, 86);
    border-top: 1px #28c213 solid;
    border-right: none;
    border-bottom: 1px #28c213 solid;
    border-left: 1px #28c213 solid;
}

.principal{
    background-color: #42ADEC;
}


