* {
    color: black;
    font-family: courier;
    font-size: 12 pt;
    line-height: 1.2
}

h1 {
    color: #636363;
    font-size: 24 pt;
    background-color: rgba(17, 125, 158, 0);}

a:visited {
    color: red;
    font: bold;
    text-decoration-line: underline;
    text-decoration-style: double;
    /*no funciona*/
}

ul {
    text-align: center;
    text-decoration: underline;
    text-decoration: double;
    color: grey;
    background-color: rgba(17, 125, 158, 0.4);
}

a:link {
    color: #9c9c9c;
    font-style: cursive;
    background-color: rgba(17, 125, 158, 0.8);}