tr:nth-child(odd){
    background-color: aquamarine;
    color: white;
}

tr:nth-child(even){
    background-color: rebeccapurple;
    color: white;
}

:nth-child(8){
    background-color: blue;
}
:nth-child(6n){
    background-color: red;
}
:nth-child(3n+4){
    background-color: seagreen;
}