.a {
    background-color: red;
    margin: 5px;
}

.b {
    background-color: #FF0000;
    margin: 5px;
}

.c {
    background-color: RGB(255, 0, 0);
    margin: 5px;
}

.d {
    background-color: HSL(0, 100%, 50%);
    margin: 5px;
}

.e {
    background-color: red;
    opacity: 0.8;
    margin: 5px;
}

.f {
    background-color: rgba(255, 0, 0, 0.8);
    margin: 5px;
}