#p1 { font: oblique bold 120% cursive; }
#p2 { font: small-caps 100%/200% serif; }
#p3 { font: monospace 150%; }
#p4 { font: bold 90%; }
#p5 { font: oblique 120% sans-serif bold; }
#p6 { font: 120% sans-serif small-caps; }
