body {
    background-color: rgba(24, 76, 248, 0.3);
}

#contenedor {
    width: 300px;
}

#primero {
    width: 30%;
    height: 200px;
    background-color: yellow;
    display: inline-block;
}

#segundo {
    width: 30%;
    height: 200px;
    background-color: orange;
    display: inline-block;
}

#tercero {
    width: 30%;
    height: 200px;
    background-color: purple;
    display: inline-block;
}