div {
    color: red; /* Aquí había dos puntos en vez de punto y coma.*/
    font: Verdana;
    opacity: 0, 5;
}

body {
    border: 1px solid; /* Faltaba el border */
    border-width: 10px;
    border-color: blue;
    color: red;
}

h1 {
    border: inherit;
}