.menu{
    border: 1px red solid;
    border-bottom: 1px purple solid;
    background-color: #8f8e8e;
}

#menu{
    position: absolute;
    z-index: 2;
}

.borde{
    border: 1px black dashed;
    margin: 1%;
    padding: 2%;
    text-align: center;
}

.cabecera{
    border-top: none;
    border-right: 1px purple solid;
    border-bottom: none;
    border-left: 1px purple solid;
    background-color: #D3C1DD;
    padding-bottom: 10%;
}

.contenido{
    height: 100%;
}

.columna1{
    background-color:rgb(113, 247, 86);
    border-top: 1px #28c213 solid;
    border-right: none;
    border-bottom: 1px #28c213 solid;
    border-left: 1px #28c213 solid;
    height: 59vh;
}

.principal{
    background-color: #42ADEC;
    height: 59vh;
}

.columna2{
    background-color: #8f8e8e;
    height: 59vh;
}

.subcajas{
    border: 1px #71f756 solid;
    background-color: #b7dde9;
    height: 150px;
    position: relative;
}

.subcaja0{
    margin: auto 0;
    height: 30%;
    width: 100%;
}

.subcaja1{
    border: 1px #71f756 solid;
    margin: auto 0;
    float: left;
    height: 70%;
    background-color: #b7dde9;
}

.subcaja2{
    border: 1px #71f756 solid;
    float: left;
    margin: auto 0;
    height: 70%;
    background-color: #b7dde9;
}
